* {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Poppins", sans-serif;
  margin: 0;
  min-height: 100vh;
}

button {
  background-color: #1a1b4b;
  color: white;
  font-family: inherit;
  padding: 0.75rem;
  border: none;
  border-radius: 4px;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: all 1s ease-in-out;
}

.popup-container.active {
  display: flex;
  opacity: 1;
}

.popup {
  background-color: #fff;
  border-radius: 4px;
  padding: 2rem;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
  width: 500px;
  position: relative;
}

.popup button {
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #fff;
  color: #1a1b4b;
}
